<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{purchaseForm.title}, ~{:: #main})">
<div id="main">

    <div class="container py-1">
        <p>Order Number</p>
        <p th:text="${#servletContext.getAttribute('orderDTO').getOrderNumber()}"></p>
    </div>

    <div th:if="${#strings.equals(#servletContext.getAttribute('status'), 'OPEN')}">

        <div th:if="${#servletContext.getAttribute('stock') eq null}"
             class="container d-md-flex justify-content-md-center page-block">
            <h1 th:text="#{supplier.stockNotFound}">No stock found</h1>
        </div>
        <table th:if="${#servletContext.getAttribute('stock') ne null}"
               class="table align-middle background-light page-block"
               th:with="lines=${#servletContext.getAttribute('orderLinesDTO')}">
            <thead>
            <tr>
                <th th:text="#{item.itemName}">Item name</th>
                <th th:text="#{item.quantity}">Quantity</th>
                <th th:text="#{item.salePrice}">Price</th>
                <th th:text="#{item.orderQuantity}">Order Quantity</th>
                <th th:text="#{orderLine.linePrice}">Line Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderLine : ${lines}">
                <td th:text="${orderLine.itemName}">Name</td>
                <td th:text="${orderLine.stockQuantity}"></td>
                <td th:text="${orderLine.purchasePrice}"></td>
                <th th:text="${orderLine.orderQuantity}"></th>
                <th th:text="${orderLine.linePrice}"></th>
                <th th:object="${product}">
                    <div>
                        <form method="get"
                              th:action="@{/private/sales/updateQuantity/{number}(number=${orderLine.itemNumber})}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control" id="inputID"
                                               th:field="*{orderQuantity}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-custom" th:text="#{button.updateQuantity}">Find
                                        product
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#servletContext.getAttribute('orderDTO') ne null}" class="container py-1">
        <div class="row mb-3">
            <div class="col-md-6 col-sm-4 col-4">
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="#{order.totalPrice}">Total Price</p>
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="${#servletContext.getAttribute('orderDTO').getAmount()}">0000</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 col-sm-4 col-4">
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="#{order.vat}">Total Price</p>
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="${#servletContext.getAttribute('orderDTO').getVatAmount()}">0000</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 col-sm-4 col-4">
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="#{order.amountWithVAT}">Total Price</p>
            </div>
            <div class="col-md-3 col-sm-4 col-4 order-pricing">
                <p th:text="${#servletContext.getAttribute('orderDTO').getAmountWithVAT()}">0000</p>
            </div>
        </div>
    </div>

    <div th:if="${#strings.equals(#servletContext.getAttribute('status'), 'OPEN')}" class="container py-1">
        <form method="get" th:action="@{/private/sales/finishOrder}">
            <div class="col-md-9">
            </div>
            <div class="col-md-3" style="margin-top: 1.5vh">
                <label></label>
                <div>
                    <button type="submit" class="btn btn-custom" th:text="#{button.finishOrder}">
                        Find product
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${#strings.equals(#servletContext.getAttribute('status'), 'INVOICED')}" class="container py-1">
        <form method="get" th:action="@{/private/sales/printOrder}">
            <div class="row mb-3">
                <div class="col-md-9">
                </div>
                <div class="col-md-3" style="margin-top: 1.5vh">
                    <label></label>
                    <div>
                        <button type="submit" class="btn btn-custom" th:text="#{button.printToPDF}">
                            Find product
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>