<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{payment.title}, ~{:: #main})">
<div id="main">

    <div class="container py-4">
        <table th:if="${not orders.empty}" class="table align-middle background-light page-block">
            <thead>
            <tr>
                <td th:text="#{payment.orderNr}">Order Nr</td>
                <td th:text="#{payment.orderDate}">Date</td>
                <td th:text="#{payment.customer}">Customer</td>
                <td th:text="#{payment.supplier}">Supplier</td>
                <td th:text="#{payment.amountToPay}">Amount</td>
                <td th:text="#{payment.pay}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderNumber}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.client}"></td>
                <td th:text="${order.supplier}"></td>
                <td th:text="${order.amountWithVAT}"></td>
                <td>
                    <form th:action="@{/private/finance/makePayment/{orderID}(orderID=${order.orderNumber})}" method="post">
                        <button type="submit">
                            <i class="fa-solid fa-cash-register font-dark"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</html>