<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{accountingPage.title}, ~{:: #main})">
<div id="main">

    <div class="container py-4">

        <div class="p-5 mb-4 background-light rounded-3">
            <div class="container-fluid custom-title-card">
                <h2 class="display-5 fw-bold" th:text="#{accountingPage.accountingSection}">Sales section Title</h2>
                <p class="col-md-8" th:text="#{accountingPage.mainText}">Content</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <button class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative custom-card">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 th:text="#{accountingPage.balance}">Balance</h4>
                        <p class="card-text mb-auto" th:text="#{accountingPage.balanceText}">Content</p>
                    </div>
                </button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <button class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative custom-card">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 th:text="#{accountingPage.sellerSales}">Sales by sellerID</h4>
                        <p class="card-text mb-auto" th:text="#{accountingPage.sellerText}">Content</p>
                    </div>
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <button class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative custom-card">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 th:text="#{accountingPage.salesDocuments}">Sales Documents</h4>
                        <p class="card-text mb-auto" th:text="#{accountingPage.salesDocsText}">Content</p>
                    </div>
                </button>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <button class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative custom-card">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 th:text="#{accountingPage.returnDocuments}">Return Documents</h4>
                        <p class="card-text mb-auto" th:text="#{accountingPage.returnDocsText}">Content</p>
                    </div>
                </button>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <button class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative custom-card">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 th:text="#{accountingPage.purchaseDocuments}">Purchase Docs</h4>
                        <p class="card-text mb-auto" th:text="#{accountingPage.purchaseDocsText}">Content</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
</html>