<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{clientForm.title}, ~{:: #main})">
<div id="main">

    <div class="container py-4">
        <form method="post" th:object="${client}" th:action="@{''}">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inputClientID" class="col-sm-12 col-form-label" th:text="#{client.clientID}">Client ID</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientID" th:field="*{businessID}">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputClient" class="col-sm-12 col-form-label" th:text="#{client.business}">Business</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClient" th:field="*{businessName}">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputClientType" class="col-sm-12 col-form-label" th:text="#{client.type}">Business</label>
                    <div class="col-sm-12">
                        <select class="form-control" id="inputClientType" th:field="*{clientType}">
                            <option th:each="option : ${clientTypeOptions}" th:value="${option}" th:text="${option}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="inputClientCountry" class="col-sm-2 col-form-label" th:text="#{client.country}">Country</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientCountry" th:field="*{country}">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="inputClientCity" class="col-sm-2 col-form-label" th:text="#{client.city}">City</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientCity" th:field="*{city}">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="inputClientStreet" class="col-sm-2 col-form-label" th:text="#{client.street}">City</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientStreet" th:field="*{street}">
                    </div>
                </div>
                <div class="col md-1">
                    <label for="inputClientHouse" class="col-sm-2 col-form-label" th:text="#{client.house}">House Nr</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientHouse" th:field="*{houseNumber}">
                    </div>
                </div>
                <div class="col md-1">
                    <label for="inputClientFlat" class="col-sm-2 col-form-label" th:text="#{client.flat}">Flat Nr</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientFlat" th:field="*{flatNumber}">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="inputClientPhone" class="col-sm-6 col-form-label" th:text="#{client.phone}">Phone Nr</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientPhone" th:field="*{phoneNumber}">
                    </div>
                </div>
                <div class="col md-6">
                    <label for="inputClientEmail" class="col-sm-6 col-form-label" th:text="#{client.email}">Email</label>
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="inputClientEmail" th:field="*{emailAddress}">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-custom">Save item</button>
        </form>

    </div>

</div>
</html>