<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{clients.title}, ~{:: #main})">
<div id="main">

    <div class="container py-4">
        <form method="get" th:object="${client}" th:action="@{/private/clients/findClient}">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="inputClientID" class="col-sm-12 col-form-label" th:text="#{findClient.clientID}">Client
                        ID</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientID" th:field="*{businessID}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputClient" class="col-sm-12 col-form-label"
                           th:text="#{findClient.business}">Business</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClient" th:field="*{businessName}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputClientCountry" class="col-sm-12 col-form-label" th:text="#{findClient.country}">Country</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientCountry" th:field="*{country}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputClientCity" class="col-sm-12 col-form-label"
                           th:text="#{findClient.city}">City</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputClientCity" th:field="*{city}">
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-custom" th:text="#{findClient.button}">Find Client</button>
        </form>
    </div>
    <div th:if="${clients.empty}" class="container d-md-flex justify-content-md-center page-block">
        <h1 th:text="#{clients.notFound}">No clients found</h1>
    </div>
    <table th:if="${not clients.empty}" class="table align-middle background-light page-block">
        <thead>
        <tr>
            <th th:text="#{client.clientID}">Business ID</th>
            <th th:text="#{client.business}">Business name</th>
            <th th:text="#{client.country}">Country</th>
            <th th:text="#{client.city}">City</th>
            <th th:text="#{client.streetAddress}">StreetAddress</th>
            <th th:text="#{client.phone}">Phone</th>
            <th th:text="#{client.email}">Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.businessID}">ID</td>
            <td th:text="${client.businessName}">Name</td>
            <td th:text="${client.country}">Country</td>
            <td th:text="${client.city}">City</td>
            <td th:text="${client.streetAddress}">Street Address</td>
            <td th:text="${client.phoneNumber}">Phone</td>
            <td th:text="${client.emailAddress}">Email</td>
            <td>
                <form th:action="@{/private/clients/edit/{id}(id=${client.businessID})}" method="get">
                    <button id="editClient" class="edit-delete-update">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>