<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{itemForm.title}, ~{:: #main})">
<div id="main">

    <div class="container py-4">

        <form method="post" th:object="${item}" th:action="@{''}">
            <div class="row mb-3">
                <label for="inputCategory" class="col-sm-2 col-form-label" th:text="#{item.category}">Item Name</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputCategory" th:field="*{category}">
                        <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputItemName" class="col-sm-2 col-form-label" th:text="#{item.itemName}">Item Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputItemName" th:field="*{name}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputItemDescription" class="col-sm-2 col-form-label" th:text="#{item.itemDescription}">Item
                    Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputItemDescription" th:field="*{description}"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-custom">Save item</button>
        </form>
    </div>

</div>
</html>